#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CSS for Homepage */

.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #dfeffe;

}

.homeHeader {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.homeHeader img{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cityContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.citySection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.citySection img{
  width: 200px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/* CSS for CityPage Component */

.citySection {
    display: flex;
    flex-direction: row;
}

.CityName{
  color: #082031;
}



/* CSS for City Info on City Details Page */

.citySection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center; 
}

.cityImage {
  height: 100%;
  flex: 2;
  align-items: center;
  justify-content: center;
}


.cityDetails {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  align-items: left;
  justify-content: left;
  color: black;
}

/* CSS for Experiences Section on Cities */

.cityExperiences {
  padding: 10px;
}

.cityExperiences ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.experience-card {
  
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 300px;
}

.experience-card img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/* Experience Details */

.experienceDetail{
   position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.experienceHeader{
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: row;
  flex-wrap: nowrap;
}

.headerImage{
  height: 50vh;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerInfo {
  height: 50vh;
  min-width: 320px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
  justify-content: center;
  background-color: #dfeffe;
}

.reviewSection {
  background-color: white;
}


/* Navigation Bar */

.navBar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.navItems {
  background: #082031;
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: 0; 
}

.navLink {
  color: white;
}

.navLeft {
    display: flex;
    gap: 1rem; 
}

.navRight {
    display: flex;
    gap: 1rem; 
    align-items: center;
}