#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CSS for Homepage */

.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: #dfeffe; */
    background-color:#9da99c ;

}

.homeHeader {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.homeHeader img{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cityContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.citySection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.citySection img{
  width: 200px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.cityContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* CSS for CityPage Component */

.citySection {
    display: flex;
    flex-direction: row;
}

.CityName{
  color: #082031;
}



/* CSS for City Info on City Details Page */



.cityContainer2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.citySection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center; 
}

.cityImage {
  height: 100%;
  flex: 2;
  align-items: center;
  justify-content: center;
}


.cityDetails {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  align-items: left;
  justify-content: left;
  color: black;
}

.tripSection {
  width: 100%;
}

/* CSS for Experiences Section on Cities */

.cityExperiences {
  padding: 10px;
}

.cityExperiences ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.experience-card {
  
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 300px;
}

.experience-card img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/* Experience Details */

.experienceDetail{
   position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.experienceHeader{
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: row;
  flex-wrap: nowrap;
}

.headerImage{
  height: 50vh;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerInfo {
  height: 50vh;
  min-width: 320px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
  justify-content: center;
  background-color: #dfeffe;
}

.reviewSection {
  background-color: white;
}

.tripSelectContainer {
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.tripSelectDropdown {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 220px;
}

.addToTripButton {
  padding: 10px 16px;
  background-color: #082031;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  transition: background-color 0.3s;
}

.addToTripButton:hover {
  background-color: #005580;
}


/* Navigation Bar */

.navBar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.navItems {
  background: #082031;
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0; 
}

.navLink {
  color: white;
}

.navLeft {
    display: flex;
    gap: 1rem; 
}

.navRight {
    display: flex;
    gap: 1rem; 
    align-items: center;
}

/*login page */

.login{
   position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  flex-wrap: nowrap;
}

.login img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginLeft{
  height: 100vh;
  width: 50vh;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.loginRight{
    height: 100vh;
    width: 50vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}


.userTitle, .passwordTitle{
width: 240px;
display: inline-block;
text-align: right;
margin-right: 100px;
}



/* Registration Page */

.registration{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  flex-wrap: nowrap;
}

.registerLeft{
   height: 100vh;
  width: 50vh;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.registerLeft img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.registerRight {
   height: 100vh;
    width: 50vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Account page */

.account-container{
 position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:#9da99c;
    padding: 20px;
    box-sizing: border-box;
}

.account-section {
  background: #3392a1;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Trip Form */

.tripForm{
  background-color: aliceblue;
  min-width:300px;
  max-width: 400px;
  box-shadow: inset;
  align-items: center;
  border: #082031;
  border-radius: 15px;
  padding: 15px;
}

.tripForm button{
  background-color: #082031;
  color: white;
}

/* My Trips */
.tripsContainer {
  padding: 20px;
  background-color:#3392a1;
  min-height: 100vh;
  
}

.tripsHeader {
  text-align: center;
  font-size: 2rem;
  color: #082031;
  margin-bottom: 20px;
}

.tripsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.tripCard {
  background-color: #dfeffe;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tripCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.tripCityImageContainer {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tripCityImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tripDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.tripDetail {
  margin: 5px 0;
  color: #333;
}

.tripName {
  color: #031420;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*experiences in My Trips */

.experiencesHeader {
  margin-top: 15px;
  color: #082031;
}

.experiencesList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.experienceContainer {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
}

.experienceItem {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.experienceName {
  font-weight: bold;
  color: #082031;
}

.experienceDateContainer {
  margin-top: 5px;
}

.experienceDateLabel {
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
}

.experienceDateInput {
  margin-left: 10px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.deleteButton {
  padding: 10px 16px;
  background-color: #082031;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.deleteButton:hover {
  background-color: #005580;
}

.deleteButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

/* background animation */


.bg {
  animation: slide 3s ease-in-out infinite 
   alternate;
   background-image:linear-gradient(-60deg, #9da99c 50%, #3392a1 50%) ;
   bottom: 0;
   left:-50%;
   opacity: .5;
   position:fixed;
   right: -50%;
   top: 0;
   z-index: -1; 
 
 }
 
 .bg2 {animation-direction: alternate-reverse;
       animation-duration: 4s;
 }
 
 .bg3 {
   animation-duration: 5s;
 }
 .content {
   background-color: rgba(255,255, 255, .8);
   border-radius: .255em;
   box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
   box-sizing: border-box;
   left: 50%;
   padding: 10vmin;
   position: fixed;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
 
 }
 
 
 @keyframes slide {
   0%{
     transform: translateX(-25);
 
   }
   100%{
     transform: translateX(25%);
   }
 }